/* Posts Page CSS */

body{
    background-color: #D5AF84;
}

footer{
    background-color: #894343;
}

header{
    background-color: #894343;
}

.card{
    background-color: #538599;
}
.card img{
    background-color: #DD5341;
}